.hero {
  min-height: 73.5vh;
  margin: 4vh 0;
}

.heroContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.heroInfoContainer {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.heroInfoContainer h1 {
  font-size: 2.4em;
}

.heroInfoContainer h1 span {
  text-wrap: nowrap;
}

.name {
  color: #00ccff;
}

.heroInfoContainer p {
  width: 100%;
  margin: 0.5rem 0 1rem 0;
}

.heroInfoContainer a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  width: fit-content;
  padding: 0.7rem 1rem;
  border: 2px solid #00ccff;
  border-radius: 4px;
}

.heroImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
}

.heroImgContainer img {
  width: 100%;
}

@media (hover: hover) {
  .heroInfoContainer a:hover {
    color: #00ccff;
  }
}

@media screen and (max-width: 920px) {
  .hero {
    min-height: auto;
    margin: 0;
    padding: 2.5rem 0;
  }
}

@media screen and (max-width: 700px) {
  .hero {
    padding: 2rem 0;
    margin: 0;
  }

  .heroInfoContainer {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .heroInfoContainer p {
    margin: 0;
  }

  .heroInfoContainer a {
    margin-top: 2rem;
  }

  .heroImgContainer {
    width: 22.5rem;
    max-width: 100%;
    margin: 2rem 0;
  }
}
