#about-me {
  gap: 5rem;
  padding: 2.5rem 0;
}

#about-me p {
  width: 80%;
  font-size: 1em;
}

@media screen and (max-width: 700px) {
  #about-me {
    gap: 4rem;
    padding: 2rem 0;
  }

  #about-me p {
    width: 100%;
  }
}
