#contact {
  gap: 2.5rem;
  padding: 2.5rem 0;
}

.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.5rem;
  width: 90%;
  margin: 2.5rem 0;
}

@media screen and (max-width: 700px) {
  #contact {
    gap: 2rem;
    padding: 2rem 0;
  }
}

@media screen and (max-width: 450px) {
  .contact-links {
    justify-content: space-between;
    gap: 0;
  }
}
