main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #161616;
  background-image: url("../assets/img/background.svg");
  background-position: center center;
}
