.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2.5rem;
}

@media screen and (max-width: 700px) {
  .projects-container {
    gap: 2rem;
  }
}
