@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 18.5px;
}

body {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: #161616;
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-thumb {
  background-color: #00ccff;
  border: 4px solid #161616;
  border-radius: 99px;
}

body::-webkit-scrollbar-track {
  background-color: #161616;
}

li {
  list-style: none;
}

a,
button,
input {
  color: inherit;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  font-family: inherit;
  border: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

input,
textarea {
  outline: none;
}

textarea {
  resize: none;
}

@media screen and (max-width: 1550px) {
  html {
    font-size: 17.25px;
  }
}

@media screen and (max-width: 920px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 14.75px;
  }
}
